@import "./meyer-reset.css";


/* My General Setup */

* {  
    font-family: "Helvetica", "Arial", "sans-serif";
    font-size: 16px;
    width: auto;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}

#my-first-chart {
    width: 500px;
    height: 500px;
}



/* Tablet */
@media screen and (min-width: 768px) {



}

/* Desktop */
@media screen and (min-width: 1200px) {



}